<div class="row" id="game" ng-show="model.gameStats.status == 'PLAYING'">
  <div class="col-sm-12">
    <div class="row ft-gamestats">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6 ft-label">
            lives:
          </div>
          <div class="col-sm-6">
            <span ng-repeat="live in getNumber(model.gameStats.lives) track by $index" class="lives"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 ft-label">
            Pass:
          </div>
          <div class="col-sm-6">
            <span ng-repeat="escape in getNumber(model.gameStats.escapes) track by $index" class="lives"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-4 pull-right">
        <p>Best Score: {{model.user.bestScore}}</p>
      </div>
    </div>
    <div class="row ft-time">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4 text-right">
              Time:
          </div>
          <div class="col-sm-5">
              <div class="progress">
                  <div id="timeLapse" class="progress-bar" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                  </div>
              </div>
              <div id="clock" style="display:none"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ft-dashboard text-center">
      <div class="col-sm-12">
        <div class="row">
            <h1>{{ model.currentWord}}</h1>
        </div>
        <div class="row text-center">
          <p>Escriba la palabra que se encuentra arriba</p>
          <input type="text" name="word" ng-model="model.insertedWord" 
                  ng-enter="checkWord()" ng-escape="jumpWord()"/>
        </div>
        <div class="row text-center ft-instructions">
          <div class="col-sm-12">
            <div class="row"> <h3>Instructions</h3> </div>
            <div class="row">
              <img src="media/images/pc-enter.png"/>: 
              Comprobar palabra
            </div>
            <div class="row">
              <img src="media/images/esc_key.png"/>: 
              Salta a la siguiente palabra
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row text-center" id="gameover" ng-show="model.gameStats.status == 'GAMEOVER'">
    <div class="col-md-12">
        <h1>Game Over</h1>
        <strong>Score: </strong> {{model.gameStats.score}}
        <br/>
        << Poner link al menu inicial >>
    </div>
</div>