<div class="row">
  <div class="col-sm-12">
    <div class="row text-center ft-leaderboard-title">
      <h1>Leaderboard</h1>
    </div>
    <div class="row ft-leaderboard-table">
      <div class="col-sm-12">
        <div class="row" ng-repeat="friend in friends | orderBy: 'score'">
          <div class="col-sm-1">
            1
          </div>
          <div class="col-sm-2">
            <span>
              <img src="media/images/profile.png" class="profile small" />
            </span>
          </div>
          <div class="col-sm-8">
            <div class="row">
              {{friend.name}}
            </div>
            <div class="row">
              <strong>Score: </strong> {{friend.score}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>